@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Urbanist", sans-serif;
}
html{
    font-size: 62.5%;   /*1rem = 10px*/
}
h1,h2,h3,h4,h5,h6{
    font-family: "Poppins", sans-serif;
}
p,li,a{
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    color: var(--para-color);
}
li{
    list-style: none;
}
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 3rem 2rem;
}
:root{
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
     --heading-color: #000a19;
    --para-color: #504e4d;
    --white-color:#ffffff;
    --bg-color:#ffffff;
    --btn-hover-bg-color:#003b99;
    --btn-box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
}


a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}
.btn:hover{
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}



/* header logo*/
.logo>a{
    font-size: 2rem;
    padding: 1rem 1.2rem;    
}

.logo a span{
    background-color: rgb(27, 173, 231);
    color: white;
    padding: 1rem 2rem;
}

/* header section navbar */
.section-navbar{
    width: 100%;
    box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.05),0px 0px 0px 1px rgba(0,0,0,0.08);
}

.section-navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;
}

.section-navbar .navbar ul{
    display: flex;
    gap: 3.2rem;

    & li a{
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        display: inline-block;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 2px solid var(--main-color);
            transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
}
    }

    & li a:hover::after{
        width: 100%;
    }
}
